/* TOOLS */
.tools {
    padding-top:      2rem;
    background-color: $base-dark;

    .tools-intro {
        margin-bottom: 2rem;
        text-align: center;

        @include breakpoint(large) {
            text-align: left;
        }
    }

    p {
        color:         $base-white;
        font-size:     1.4rem;
        font-weight:   300;
    }

    .tools-table {
        @include table(none);

        text-align:    center;
        margin-bottom: 0;

        tbody {

        }

        td {
            @include grid-col(6);

            @include breakpoint(large) {
                @include grid-col(3);
            }

            padding: 1.5rem 0.625rem 1.625rem !important;
        }
    }
}