<!-- CLOSING -->
<section class="closing content-box">

    <div class="container">

        <div class="inner">
            <h5>I also speak and write fluent English and am used to working in an Agile Scrum environment using Git to manage my work (because who doesn't right?).</h5>
            <h4>And that's it... you've made it to the end! Thanks for stopping by.</h4>
            <!-- <p>You can also contact me directly by filling out the form!</p> -->
        </div>

        <!-- <div class="row">
                <div class="four columns">
                    <form>
                        <label for="name_field">Name</label>
                        <input type="text" id="name_field" placeholder="Your name" class="u-full-width" />
                    </form>
                </div>

                <div class="five columns">
                    <form>
                        <label for="email_field">Email</label>
                        <input type="email" id="email_field" placeholder="Your email" class="u-full-width" />
                    </form>
                </div>

                <div class="three columns">
                    <button>Send</button>
                </div>
            </div>

            <div class="row">
                <div class="nine columns">
                    <form>
                        <label for="email_field">Message</label>
                        <textarea id="message" placeholder="Your message" class="u-full-width"></textarea>
                    </form>
                </div>
            </div> -->

    </div>
</section>
