<!-- HEADER -->
<header>

    <div class="header-wrap">

        <div class="header-profile">
            {{> profile-pic}}

            <div class="header-quote">
                Welcome to this quiet corner of the internet
            </div>
        </div>

        <div class="header-nav">
            <nav class="header-links menu">
                <a class="header-nav__link" href="mailto:pedrocoelima@gmail">
                    <span class="entypo-mail"></span> Email
                </a>

                <a class="header-nav__link" href="//pt.linkedin.com/in/pedromiguellima">
                    <span class="entypo-linkedin"></span> LinkedIn
                </a>

                <a class="header-nav__link" href="//www.facebook.com/pedromsantoslima">
                    <span class="entypo-facebook"></span> Facebook
                </a>
            </nav>
        </div>

    </div>

</header>
