<!-- HEADER -->
<header>

    <div class="header-wrap">

        <div class="header-profile">
            {{> profile-pic}}

            <div class="header-quote">
                Welcome to this quiet corner of the internet
            </div>
        </div>

        <div class="header-nav">
            <nav class="header-links menu">
                <a class="header-nav__link" href="mailto:pedrocoelima@gmail">
                    <span class="fa fa-envelope"></span> <span class="header-link__text">Email</span>
                </a>

                <a class="header-nav__link" href="//pt.linkedin.com/in/pedromiguellima">
                    <span class="fa fa-linkedin"></span> <span class="header-link__text">LinkedIn</span>
                </a>

                <a class="header-nav__link" href="//www.facebook.com/pedromsantoslima">
                    <span class="fa fa-facebook"></span> <span class="header-link__text">Facebook</span>
                </a>

                <a class="header-nav__link" href="//gitlab.com/u/plima">
                    <span class="fa fa-gitlab"></span> <span class="header-link__text">GitLab</span>
                </a>
            </nav>
        </div>

    </div>

</header>
