<!-- INTRO -->
<section class="intro content-box inverted">

    <div class="intro-over">
        <div class="entypo-down-open"></div>
    </div>

    <div class="intro-content">
        <div class="intro-text">
            <h1 class="intro-huge">
                Hello
            </h1>

            <h2>My name is <strong>Pedro Lima</strong> and I'm a <strong>Front-End Developer and UX/UI Consultant</strong> from Portugal.</h2>

            <br>

            <p>At this moment I'm working as a Front-End Developer inside the <a class="alt" href="//www.linkedin.com/company/bit-sonae">Sonae BIT</a> Digital Channels Team, building fast, mobile-ready, e-commerce platforms as well as tutoring UX/UI for <a class="alt" href="//edit.com.pt/">EDIT</a>.</p>

            <p>You can <strong>download my CV</strong> below or <strong>scroll down</strong> if you want me to see my detailed profile.</p>

            <div class="intro-downloads">
                <a class="button cv-button" href="assets/pdf/PedroLima_CV_June_2016_EN.pdf">
                    Download CV
                    <br>
                    (English)
                </a>

                <a class="button cv-button" href="assets/pdf/PedroLima_CV_Julho_2015_PT.pdf">
                    Download CV
                    <br>
                    (Português)
                </a>
            </div>
        </div>

    </div>
</section>
