<!-- INTRO -->
<section class="intro content-box inverted">

    <div class="container">

        <div class="intro-over">
            <div class="entypo-down-open"></div>
        </div>

        <div class="intro-bg">

        </div>

        <div class="intro-content inner">
            <div class="intro-text">

                <h1 class="intro-huge">Hello</h1>

                <h2>My name is <strong>Pedro Lima</strong> and I'm a <strong>Front-End Developer</strong> and <strong>UX/UI Designer </strong>currently working from <strong>Porto</strong>, Portugal.</h2>

                <br>

                <p>At the moment I'm working remotely as a Senior Front-End Engineer at <a class="alt" href="//www.imedicare.com">iMedicare</a> developing web applications used by more than 5000 pharmacies across the US. I also do occasional <span class="alt">UX/UI tutoring</span> sessions for companies looking to improve the usability of their products.</p>

                <p>You can <strong class="alt">download my CV</strong> below or <strong class="alt">scroll down</strong> if you want to see my detailed profile.</p>

                <div class="intro-downloads">
                    <a class="button cv-button" href="pdf/Pedro_Lima_CV_July2016_EN.pdf">
                        Download CV
                        <div><small>PDF File - Last update: July 2016</small></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
