<!-- INTRO -->
<section class="intro content-box inverted">

    <div class="intro-over">
        <div class="entypo-down-open"></div>
    </div>

    <div class="intro-content">
        <div class="intro-text">
            <h1><strong>Hello</strong></h1>

            <h2>My name is <strong>Pedro Lima</strong> and I'm a <strong>UX/UI Consultant and Front-End Developer</strong> from Portugal.</h2>

            <p>At this moment I'm working as a Front-End Developer inside the <a href="https://www.linkedin.com/company/bit-sonae">Sonae BIT</a> Digital Channels Team, building fast, mobile-ready, e-commerce platforms as well as tutoring UX/UI for <a href="http://edit.com.pt/">EDIT</a>.</p>

            <p>You can <strong>download my CV</strong> below or <strong>scroll down</strong> if you want me to see my detailed profile.</p>

            <a class="button cv-button">
                <span class="entypo-download"></span> Download CV
            </a>
        </div>

    </div>
</section>
