<section class="tools content-box">

    <div class="container">

        <div class="tools-intro inner">
            <p>{{tools.text}}</p>
        </div>

    </div>

    <table class="tools-table">
        <tbody class="container">

            {{#each tools.toolgroups}}
            <tr>
                {{#each this}}
                <td title="{{this.description}}">
                    <a href="{{this.link}}">{{this.name}}</a>
                </td>
                {{/each}}
            </tr>
            {{/each}}

        </tbody>
    </table>

</section>
