<!-- WORKPLACES -->
<section class="content-box workplaces">

    <!-- INTRO -->
    <div class="workplaces-intro">
        <div class="container">
            <!-- WORKPLACES INTRO -->
            <div class="row">
                <div class="twelve columns">
                    <h4>For the last 10 years I've been working both on the design phase of websites as well as actually implementing all the front-end functionality. More recently it's been mostly HTML templating, CSS/Sass styling and doing both server-side and client-side javascript logic.</h4>

                    <h5>Here are some of the places I worked and work for:</h5>
                </div>
            </div>
        </div>
    </div>

    {{#each experience.jobs}}
    <div class="workplaces-wrap expanded">
        <div class="container">
            <div class="row workplaces-item">
                <!-- <div class="workplaces-item__image one columns">
                        <img src="img/logo_bit.png" alt="Sonae BIT" />
                    </div> -->

                <div class="workplaces-item__title six columns">
                    <h4>{{this.name}}</h4>
                </div>

                <div class="workplaces-item__details six columns">
                    <span class="workplaces-item__job">{{this.title}}</span>
                    <span class="workplaces-item__date">{{this.date}}</span>
                </div>
            </div>

            <div class="row workplaces-text">
                <div class="twelve columns">
                    <p>{{this.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</section>
