<!-- WORKPLACES -->
<section class="content-box workplaces">

    <!-- INTRO -->
    <div class="workplaces-intro container">
        <div class="inner">
            <h3>For the last 10 years I've been working both on the design phase of websites as well as actually implementing the front-end functionality.</h3>

            <br>

            <h3>Recently my daily work consists of HTML templating, CSS/SCSS styling and doing both server-side and client-side modular javascript logic.</h3>

            <br>

            <h6>Here are some of the places I work or worked for:</h6>

            <br>
            
        </div>
    </div>

    {{#each experience.jobs}}
    <div class="workplaces-wrap container">
        <div class="row workplaces-item">
            <div class="workplaces-item__title">
                <h1>{{this.name}}</h1>
            </div>

            <div class="workplaces-item__details">
                <span class="workplaces-item__job">{{this.title}}</span>
                <span class="workplaces-item__date">{{this.date}}</span>
            </div>
        </div>

        <div class="row workplaces-text">
            <div class="twelve columns">
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
    {{/each}}

</section>
