<!-- WORKPLACES -->
<section class="workplaces content-box">

        <div class="workplaces-intro">

            <div class="container">
                {{> profile-pic}}

                <div class="workplaces-intro__top inner">
                    <h5>A little bit about my experience:</h5>
                    <br>

                    <h3>For the last 10 years I've been working both on the design phase of websites as well as actually implementing the front-end functionality.</h3>
                    <br>

                    <h3>Recently my daily work consists of HTML templating, CSS/SCSS styling and doing both server-side and client-side JavaScript.</h3>
                </div>
            </div>
        </div>

        <!-- JOBS -->
        {{#each experience.jobs}}
        <div class="workplaces-wrap">
            <div class="container">
                <div class="workplaces-item inner">

                    <div class="workplaces-item__title">
                        <h1>{{this.name}}</h1>
                    </div>

                    <div class="workplaces-item__details">
                        <span class="workplaces-item__job">{{this.title}}</span>
                        <span class="workplaces-item__date">{{this.date}}</span>
                    </div>

                    <div class="workplaces-text">
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

</section>
